@model WydarzeniaKulturalne.Data.Entities.Uzytkownik
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="py-5">
    <div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-md-8">
                    <form class="bg-white rounded-5 shadow-5-strong p-5" asp-action="Create" onsubmit="return sprawdzWarunki();">
                        <div class="form-group mb-4">
                            <input asp-for="Imie" type="text" placeholder="Imię" id="form3Example1cg" class="form-control form-control-user" />
                            <p class="text-danger">@ViewBag.DaneErrorMessage</p>
                        </div>
                        <div class="form-group mb-4">
                            <input asp-for="Nazwisko" type="text" placeholder="Nazwisko" id="form3Example1cg" class="form-control form-control-user" />
                            <p class="text-danger">@ViewBag.DaneErrorMessage</p>
                        </div>
                        <div class="form-group mb-4">
                            <input asp-for="Email" type="Email" placeholder="Email" id="form3Example4cg" class="form-control form-control-user" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <p class="text-danger">@ViewBag.EmailErrorMessage</p>

                        <div class="form-group mb-4">
                            <input asp-for="Haslo" type="password" placeholder="Hasło" id="form3Example4cg" class="form-control form-control-user" />
                            <span asp-validation-for="Haslo" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-4">
                            <input type="password" placeholder="Powtórz hasło" class="form-control form-control-user" id="weryfikujHaslo" name="weryfikujHaslo">
                        </div>
                        <p class="text-danger">@ViewBag.PasswordErrorMessage</p>

                        <div class="form-group form-check mb-4">
                            <input type="checkbox" class="form-check-input" id="akceptacjaWarunkow" name="akceptacjaWarunkow" />
                            <label class="form-check-label" for="akceptacjaWarunkow">
                                Rejestrując się potwierdzam, że przeczytał*m
                                <br />i akceptuję warunki korzystania z serwisu
                            </label>
                            <p class="text-danger">@ViewBag.AkceptacjaErrorMessage</p>
                        </div>

                        <input type="submit" value="Zarejestruj się" class="btn btn-dark btn-user btn-block" />
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>


<script>
    function sprawdzWarunki() {
        // Pobierz referencję do pola wyboru
        var checkbox = document.getElementById('akceptacjaWarunkow');

        // Sprawdź, czy pole wyboru zostało zaznaczone
        if (!checkbox.checked) {
            // Jeśli nie zostało zaznaczone, wyświetl komunikat i zatrzymaj wysyłanie formularza
            alert("Musisz zaakceptować warunki korzystania przed rejestracją.");
            return false;
        }
        // Jeśli pole wyboru zostało zaznaczone, kontynuuj wysyłanie formularza
        return true;
    }
</script>