@model WydarzeniaKulturalne.Data.Entities.WydarzenieKulturalne
@{
    ViewData["Title"] = "DetailsCard";
}
<style>

    .nameDetails {
        display: inline-block
    }

    .bg-details {
        background-color: none;
        border-radius: 8px
    }
        .bg-details:hover {
            background-color: #f8fafb;
            color: #08183a;
            cursor: pointer;
        }
            .bg-details:hover .fa-check,
            .bg-details:hover .fa-minus {
                background-color: #f8fafb;
                color: #08183a;
            }

    .btn-details-header {
        background-color: transparent;
        color: #08183a;
        box-shadow: none;
        cursor: pointer;
    }
        .btn-details-header:hover {
            background-color: #f8fafb;
            color: #de753f;
            cursor: pointer;
            box-shadow:none;
        }

    .table-details thead th,
    .table-details td {
        border: none
    }

    .table-details tbody td:first-child {
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px
    }

    .table-details tbody td:last-child {
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px
    }

    .h5-detail {
        text-transform: uppercase;
        color: #de753f;
    }

    #spacing-row-details {
        height: 9px;
    }
</style>
<main class="mt-2 pt-4">
    <div class="container mt-2">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-6 mb-4 " style="width: 20rem;">
                @if(string.IsNullOrEmpty(Model.ZdjecieUrl))
                {
                    <img src="~/Zdjecia/noimage.png" class="img-fluid"/>
                }
                else {
                    <img src="@Model.ZdjecieUrl" class="img-fluid" alt="" />
                }
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <!--Content-->
                <div class="p-4">
                    <div class="mb-3">
                        <a href="">
                            <span class="badge bg-dark me-1">@Model.KategoriaWydarzenia.Nazwa</span>
                        </a>
                        <a href="">
                            <span class="badge bg-info me-1">New</span>
                        </a>
                        <a href="">
                            <span class="badge bg-danger me-1">@*@Model.SpecjalnyTag.Nazwa*@ SpecjalnhyTag</span>
                        </a>
                    </div>

                    <p class="lead">
                      
                        <span>  Cena:    @Model.Cena.ToString("C") </span>
                    </p>

                    <strong><p style="font-size: 20px;">@Model.Nazwa</p></strong>

                    <p>@Html.Raw(@Model.Opis)</p>

                    <form class="d-flex justify-content-left">
                        <!-- Default input -->
                        <div class="form-outline me-1" style="width: 100px;">
                            <input type="number" value="1" class="form-control" />
                        </div>
                        <button class="btn btn-darkms-1" type="submit">
                           Dodaj do karty
                            <i class="fas fa-shopping-cart ms-1"></i>
                        </button>
                    </form>
                </div>
                <!--Content-->
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->

        <hr />

        <!--Grid row-->
  @*      <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-md-6 text-center">
                <h4 class="my-4 h4">Additional information</h4>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit voluptates, quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>
            </div>
            <!--Grid column-->
        </div>*@
        <!--Grid row-->
        <!--Grid row-->
 @*       <div class="row">
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="" />
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="" />
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="" />
            </div>
            <!--Grid column-->
        </div>*@
        <!--Table list-->
    
        <div class="container rounded mt-3 bg-white p-md-4">
            <div class="h5-detail m-3 mb-3">
                Dostępne wydarzenia


                <a class="btn btn-dark btn-details-header float-end mb-3 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Lokalizacja
                </a>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>

            </div>

            <div class="table-responsive w-100">
                <table class="table table-details">
                    @*                    <thead>
                    <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Miejsce</th>
                    <th scope="col"></th>
                    <th scope="col">Status</th>
                    </tr>
                    </thead>*@
                    <tbody>
                        <tr class="bg-details">
                            <td class="pt-3 mt-1">
                                25 Sep 2020 <br />
                                godz. 11:30
                            </td>
                            <td class="pt-3 mt-1">
                                <div class="pl-lg-5 pl-md-3 pl-1 nameDetails">
                                    Kraków
                                    <br>
                                    Klub Studio
                                </div>
                            </td>

                            <td class="pt-3 mt-1">
                                Dotępne bilety: 15
                                <br>
                                Cena: 120zł
                            </td>
                            <td class="pt-3 mt-1"><span class="fa fa-check pl-3"></span></td>
                            <td class="pt-3 mt-2"><span class="btn btn-dark" style="float:right">Kup bilet</span></td>
                        </tr>
                        <tr id="spacing-row">
                            <td></td>
                        </tr>
                        <tr class="bg-details">
                            <td class="pt-3 mt-1">
                                25 Sep 2020 <br />
                                godz. 11:30
                            </td>
                            <td class="pt-3 mt-1">
                                <div class="pl-lg-5 pl-md-3 pl-1 nameDetails">
                                    Kraków
                                    <br>
                                    Klub Studio
                                </div>
                            </td>

                            <td class="pt-3 mt-1">
                                Dotępne bilety: 15
                                <br>
                                Cena: 120zł
                            </td>
                            <td class="pt-3 mt-1"><span class="fa fa-check pl-3"></span></td>
                            <td class="pt-3 mt-2"><span class="btn btn-dark" style="float:right">Kup bilet</span></td>
                        </tr>
                        <tr id="spacing-row-details">
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>