@model IEnumerable<WydarzeniaKulturalne.Data.Entities.ZamowienieSzczegoly>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card shadow m-4 p-2">
    <div class="card-header py-3">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-primary admin-table-title">Role</h1>
        </div>
        <div class="d-sm-flex align-items-center justify-content-between mb-2">
            <form asp-action="Index" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                    <input type="text" name="Filtruj" placeholder="Szukaj" value="@ViewBag.Filtruj" class="form-control d-inline"
                           aria-label="Szukaj" />
                    <div class="input-group-append">
                        <button class="btn btn-primary btn-small" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                        <button class="btn btn-secondary btn-small" type="button" onclick="location.href='@Url.Action("Index")'">
                            <i class="fas fa-times fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
            <a asp-action="Create" title="Dodaj" class="d-sm-inline-block btn btn-primary shadow-sm  mr-md-3 admin-btn">
                <i class="fas fa-plus-square fa-sm text-white-50"></i> Dodaj
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead class="admin-table-thead">
                    <tr>
                        <th>ID Szczegóły</th>
                        <th>ID Zamówienie</th>
                        <th>ID Bilet</th>
                        <th>Ilość</th>
                        <th>Cena</th>
                        <th class="th-action">
                            Akcja
                        </th>

                    </tr>
                </thead>
@*                <tbody class="admin-table-tbody">
                    @foreach (var item in Model)
                    {
                        <div>
                            <a href="#!" class="zamowienie-header" data-toggle="collapse" data-target="#zamowienie-@zamowienie.IdZamowienia-details">
                                ID Zamówienia: @item.IdZamowienia
                            </a>
                            <div id="zamowienie-@zamowienie.IdZamowienia-details" class="collapse">
                                <ul>
                                    @foreach (var idBiletu in zamowienie.IdBiletow)
                                    {
                                        <li>ID Biletu: @idBiletu</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    }*@
                </tbody>
            </table>
        </div>
    </div>
</div>
@*
 /Wyswietla informacje o nowoutworzonym obiekcie
/dodac rowniez w controlerze create tempdata - wiadomosc ktora sie wysweitla
/dodano link scr do layout i w index tworzonego obiektu*@

@section Scripts {
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var save = '@TempData["Save"]'
            if (save != '') {
                alertify.success(save);
            }
        })
    </script>
}

