@model IEnumerable<dynamic>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="mt-2 pt-4">
      <div class="container mt-2">
          <h5> Zakupione bilety:</h5>
        <hr />
        @if (Model.Any())
        {
            var groupedOrders = Model.GroupBy(x => x.IdZamowienie).OrderByDescending(g => g.Key);
            foreach (var group in groupedOrders)
            {
                decimal totalSum = 0;
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-12">
                            <div class="card-shop">
                                <div class="card-body p-0">
                                    <div class="row g-0">
                                        <div class="col-lg-12">
                                            <div class="pt-1">
                                                <h6>Zamówienie nr: @group.Key</h6>
                                                @foreach (var item in group)
                                                {
                                                    var suma = item.Ilosc * (item.Cena + (item.Cena* item.Marza)/100);
                                                    totalSum += suma;

                                                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                                                        <div class="col-md-2 col-lg-2 col-xl-2 mt-2">
                                                            @if (string.IsNullOrEmpty(item.ZdjecieUrl))
                                                            {
                                                                <a asp-controller="Bilety" asp-action="DetailsCard" asp-route-id="@item.IdBilet">
                                                                    <img src="~/Zdjecia/noimage.png" class="img-fluid-list rounded-3" />
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <a asp-controller="Bilety" asp-action="DetailsCard" asp-route-id="@item.IdBilet">
                                                                    <img src="@item.ZdjecieUrl" class="img-fluid-list rounded-3" />
                                                                </a>
                                                            }
                                                        </div>
                                                        <div class="col-md-3 col-lg-3 col-xl-3">
                                                            <h6 class="text-muted">@item.NazwaBiletu</h6>
                                                            <h6 class="text-black mt-2 small">@item.DataWydarzenia.ToString("dd/MM/yyyy")</h6>
                                                            <h6 class="text-black mt-2 small">godz. @item.DataWydarzenia.ToString("hh:mm")</h6>
                                                            <h6 class="text-black mt-2 small">@item.NazwaLokalizacji, @item.Miejscowosc </h6>
                                                        </div>
                                                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                                            Ilość: @item.Ilosc
                                                        </div>
                                                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                            <h6 class="mb-0">@suma.ToString("C")</h6>
                                                        </div>
                                                    </div>

                                                }
                                                <div class="d-flex justify-content-end m-5 mb-0 mt-0">
                                                    <div class="text-right">
                                                        <h6 class="text-muted">Podsumowanie: @totalSum.ToString("C")</h6>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
            }
        }
        else
        {
            <div class="container px-4 px-lg-5 mt-5 mb-10">
                <div class="link-container">
                    <h2 style="text-align:left">Ups!</h2>
                    <p>
                    <p>Aktualnie brak biletów. Zachęcamy do zakupu :)</p>
                    <br />         <br />
                    <a class="btn btn-dark dropright" asp-controller="Home" asp-action="Index">Powrót</a>
                    </p>

                </div>
            </div>
        }
 </div>
</main>