@model IEnumerable<WydarzeniaKulturalne.Data.Entities.Bilety>
@{
    ViewData["Title"] = "DetailsCard";
    var wydarzenie = ViewBag.InformacjeOWydarzeniu as WydarzeniaKulturalne.Data.Entities.Bilety;
}
<style>

    .nameDetails {
        display: inline-block
    }

    .bg-details {
        background-color: none;
        border-radius: 8px
    }

        .bg-details:hover {
            background-color: #f8fafb;
            color: #08183a;
            cursor: pointer;
        }

            .bg-details:hover .fa-check,
            .bg-details:hover .fa-minus {
                background-color: #f8fafb;
                color: #08183a;
            }

    .btn-details-header {
        background-color: transparent;
        color: #08183a;
        box-shadow: none;
        cursor: pointer;
    }

        .btn-details-header:hover {
            background-color: #f8fafb;
            color: #de753f;
            cursor: pointer;
            box-shadow: none;
        }

    .table-details thead th,
    .table-details td {
        border: none
    }

    .table-details tbody td:first-child {
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px
    }

    .table-details tbody td:last-child {
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px
    }

    .h5-detail {
        text-transform: uppercase;
        color: #de753f;
    }

    #spacing-row-details {
        height: 9px;
    }
</style>
<main class="mt-2 pt-4">
    <div class="container mt-2">
        <div class="row">
        </div>
        <hr />
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-6 mb-4 " style="width: 20rem;">

                @if (string.IsNullOrEmpty(wydarzenie.Wydarzenie?.ZdjecieUrl))
                {
                    <img src="~/Zdjecia/noimage.png" class="img-fluid" />
                }
                else
                {
                    <img src="@wydarzenie.Wydarzenie?.ZdjecieUrl" class="img-fluid" alt="" />
                }
            </div>

            <div class="col-md-6 mb-4">
                <!--Content-->
                <div class="p-4">
                    <div class="mb-3">
                        
                        @if (@wydarzenie.Wydarzenie?.Promowane == true)
                        {
                            <span class="badge bg-info me-1">Promowane</span>
                        }
                    </div>
                    <strong><p style="font-size: 20px;">@wydarzenie.Wydarzenie?.Nazwa</p></strong>
                    <p>@Html.Raw(@wydarzenie.Wydarzenie?.Opis)</p>
                </div>
            </div>
        </div>
        <hr />
        <div class="container rounded mt-3 bg-white p-md-4">
            <div class="h5-detail m-3 mb-3">
                Dostępne wydarzenia
                <a class="btn btn-dark btn-details-header float-end mb-3 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Lokalizacja
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
            <div class="table-responsive w-100">
                <table class="table table-details">
                                        <thead>
                    <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Miejsce</th>
                    <th scope="col"></th>
                    <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var bilet in ViewBag.InformacjeOWydarzeniu1)
                        {
                        <tr class="bg-details">
                            <td class="pt-3 mt-1">
                                    @bilet.DataWydarzenia.ToString("yyyy-MM-dd") <br/>
                                    @bilet.DataWydarzenia.ToString(" HH:mm:ss")
                            </td>
                            <td class="pt-3 mt-1">
                                <div class="pl-lg-5 pl-md-3 pl-1 nameDetails">
                                        @bilet.Lokalizacja?.Miejscowosc
                                    <br>
                                        @bilet.Lokalizacja?.NazwaMiejsca
                                </div>
                            </td>

                            <td class="pt-3 mt-1">
                                Dotępne bilety: @bilet.IloscBiletow
                                <br>
                                    Cena: @bilet.Wydarzenie.Cena.ToString("C")
                            </td>
                                @if(@bilet.IloscBiletow > 0)
                                {
                                    <td class="pt-3 mt-1"><span class="fa fa-check pl-3"></span></td>
                                }
                                else
                                {
                                    <td class="pt-3 mt-1"><span class="pl-3"></span>Bilety wyprzedane</td>
                                }

                            <td class="pt-3 mt-2"><span class="btn btn-dark" style="float:right">Kup bilet</span></td>
                        </tr>
                         
                        <tr id="spacing-row">
                            <td></td>
                        </tr>
                            }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>