@{
    ViewData["Title"] = "Panel administratora";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!--Main layout-->
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Content Row -->
    <div class="row">

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Liczba użytkowników
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.SumaUzytkownikow</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Suma wydarzeń
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.SumaWydarzen </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Liczba kategorii
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.LiczbaKategorii</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-solid fa-list fa-2x  text-gray-300 "></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Suma biletów
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.SumaBiletow</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-solid fa-check fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Row -->
    </div>
    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">

            <!-- Card Header - Dropdown -->
            <div class="card shadow mb-4 pl-4 pt-4">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h6 class="m-0 font-weight-bold text-primary">Promowane</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover" width="100%" cellspacing="0">
                            <thead class="admin-table-thead">
                                <tr>

                                    <th>
                                        Nazwa
                                    </th>
                                    <th>

                                    </th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody class="admin-table-tbody">
                                @foreach (var item in @ViewBag.Promowane)
                                {
                                    <tr>
                                        <td>
                                            @item.Wydarzenie.Nazwa
                                        </td>
                                        <td>
                                            
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="card-footer text-center bg-footer mt-4">
                            <a class="text-muted" asp-area="" asp-controller="WydarzenieKulturalne" asp-action="Index">Zobacz wszystkie</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5 d-flex">
            <div class="p-0 d-flex">
                <div class="card shadow mb-4 text-center small pb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">
                            Losowe wydarzenie
                        </h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="form-group img-container">
                            @if (string.IsNullOrEmpty(@ViewBag.Random.ZdjecieUrl))
                            {
                                <img src="~/Zdjecia/noimage.png" class="img-fluid" alt="Brak obrazu" style="width: 64%;" />
                            }
                            else
                            {
                                <img src="@ViewBag.Random.ZdjecieUrl" class="img-fluid" alt="Zdjęcie" style="width: 40%;" />
                            }
                        </div>
                        <div class="mt-4 text-center small">
                            <span class="mr-2">
                                <i class="fas fa-circle text-primary"></i> @ViewBag.Random.Nazwa
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Content Column -->
        <div class="col-lg-6 mb-4">
            <!-- Project Card Example -->
            <div class="card-header py-3">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h6 class="m-0 font-weight-bold text-primary">Nowi użytkownicy</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover" width="100%" cellspacing="0">
                            <thead class="admin-table-thead">
                                <tr>

                                    <th>
                                        Imie
                                    </th>
                                    <th>
                                        Nazwisko
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="admin-table-tbody">
                                @foreach (var item in @ViewBag.NowiUzytkownicy)
                                {
                                    <tr>
                                        <td>
                                            @item.Imie
                                        </td>
                                        <td>
                                            @item.Nazwisko
                                        </td>
                                        <td>
                                            @item.Email
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="card-footer text-center bg-footer mt-4">
                            <a class="text-muted" asp-area="" asp-controller="Uzytkownik" asp-action="Index">Zobacz wszystkich</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Color System -->
        </div>

        <div class="col-lg-6 mb-4">
            <!-- Project Card Example -->
            <div class="card-header py-3">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h6 class="m-0 font-weight-bold text-primary">Nowe wydarzenia</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover" width="100%" cellspacing="0">
                            <thead class="admin-table-thead">
                                <tr>

                                    <th>
                                        Nazwa
                                    </th>
                                    <th>
                                      Data
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="admin-table-tbody">
                                @foreach (var item in @ViewBag.NoweWydarzenia)
                                {
                                    <tr>
                                        <td>
                                            @item.Nazwa
                                        </td>
                                        <td>
                                            @item.DataUwtorzenia.ToString("yyyy-MM-dd")
                                        </td>                       
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="card-footer text-center bg-footer mt-4">
                            <a class="text-muted" asp-area="" asp-controller="WydarzenieKulturalne" asp-action="Index">Zobacz wszystkie</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Color System -->
        </div>
    </div>
</div>
<!-- /.container-fluid -->
